.SpellButton {
  width: 4rem;
  height: 4rem;
  padding: 0;
  // border: 3px solid;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 0px 1px #acacac, inset 0px 0px 2px #d4d4d4;

  margin: 0px 3px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    filter: saturate(0) brightness(0.6)
  }
}